<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h2 class="footer-heading">
        <span class="highlight">Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="footer-contact-info">
        <div class="footer-contact-details">
          <h6 class="footer-subheading">Contact Us</h6>
          <div class="contact-details">
            <a href="tel:+0684439426" class="contact-link"
              >+380 (68) 443-94-26</a
            >
            <a href="mailto:simplychoc@gmail.com" class="contact-link"
              >simplychoc@gmail.com</a
            >
          </div>
        </div>
        <div class="social-icons">
          <svg class="social-icon" width="20px" height="20px">
            <use
              xlink:href="../img/symbol-defs.svg#icon-instagram-desktop-tablet"
            ></use>
          </svg>
          <svg class="social-icon" width="20px" height="20px">
            <use
              xlink:href="../img/symbol-defs.svg#icon-twitter-desktop-tablet"
            ></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="footer-navigation">
      <a href="" class="footer-nav-link">Home</a>
      <a href="" class="footer-nav-link">How it’s made?</a>
      <a href="" class="footer-nav-link">Our products</a>
      <a href="" class="footer-nav-link">Top sellers</a>
      <a href="" class="footer-nav-link">Chocolate is loved</a>
    </div>
  </div>
</footer>
