<header>
  <div class="header-container">
    <ul class="header-nav">
      <li class="header-logo">
        <p class="logo-text">SIMPLY CHOCOLATE</p>
        <svg class="logo-icon" width="24px" height="24px">
          <use
            xlink:href="../img/symbol-defs.svg#icon-simply-chocolate-desktop-tablet"
          ></use>
        </svg>
      </li>
      <li class="header-links">
        <a href="" class="nav-link">Home</a>
        <a href="" class="nav-link">How it’s made?</a>
        <a href="" class="nav-link">Our products</a>
        <a href="" class="nav-link">Top sellers</a>
        <a href="" class="nav-link">Chocolate is loved</a>
      </li>
      <li class="header-icons">
        <svg class="icon" width="20px" height="20px">
          <use
            xlink:href="../img/symbol-defs.svg#icon-instagram-desktop-tablet"
          ></use>
        </svg>
        <svg class="icon" width="24px" height="24px">
          <use
            xlink:href="../img/symbol-defs.svg#icon-twitter-desktop-tablet"
          ></use>
        </svg>
        <svg class="menu-tablet" width="32px" height="32px">
          <use xlink:href="../img/symbol-defs.svg#icon-menu-tablet"></use>
        </svg>
      </li>
    </ul>
    <div class="header-content">
      <h2 class="header-heading">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="buttons">
        <div class="scrolls-button">
          <button class="cta-button">Buy now</button>
          <button class="black-button">How it's made</button>
        </div>
        <div class="scroll-section">
          <p class="scroll-text">Scroll Down</p>
          <div class="scroll-circle">
            <svg class="scroll-icon" width="20px" height="20px">
              <use
                xlink:href="../img/symbol-defs.svg#icon-arrow-desktop-tablet"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="feature-container">
    <ul class="feature-list">
      <li class="feature-item height-1">
        <div class="circle-feature">
          <svg class="feature-icon" width="28px" height="28px">
            <use xlink:href="../img/symbol-defs.svg#icon-chocolate"></use>
          </svg>
        </div>
        <div class="feature-description">
          <h5 class="feature-heading">Unsurpassed taste</h5>
          <p class="feature-text text-height-1">
            Crafted with the finest quality cocoa beans and a dedication to
            perfection, each bite is a decadent experience that simply cannot be
            matched. Savor the richness and complexity of our Unsurpassed Taste
            and discover a new level of chocolate bliss.
          </p>
        </div>
        <div class="line1"></div>
      </li>
      <li class="feature-item height-2">
        <div class="circle-feature">
          <svg class="feature-icon" width="28px" height="28px">
            <use xlink:href="../img/symbol-defs.svg#icon-coin"></use>
          </svg>
        </div>
        <div class="feature-description">
          <h5 class="feature-heading">Affordable price</h5>
          <p class="feature-text text-height-2">
            Indulge in high-quality chocolate without breaking the bank with
            Simply Chocolate's selection of affordable treats. Enjoy
            mouth-watering truffles and velvety chocolate bars without
            sacrificing taste or quality. Browse our selection and indulge in
            affordable luxury today.
          </p>
        </div>
        <div class="line2"></div>
      </li>
      <li class="feature-item height-3">
        <div class="circle-feature">
          <svg class="feature-icon" width="28px" height="28px">
            <use xlink:href="../img/symbol-defs.svg#icon-spoon"></use>
          </svg>
        </div>
        <div class="feature-description">
          <h5 class="feature-heading">Own production</h5>
          <p class="feature-text text-height-3">
            We take pride in our own production process, ensuring that every
            step is carefully crafted to perfection. From selecting the finest
            ingredients to handcrafting each piece, our attention to detail is
            evident in every bite.
          </p>
        </div>
      </li>
    </ul>
  </section>
</header>
